.fore-img {
  width: 80px;
  float: right;
}
.border-box {
  border-spacing: 0px;
  border: 4px solid #f8e7df;
  border-radius: 20px;
  margin: 8px;
  background-color: #9994b4;
  border-radius: 20px;
}
.forecast-day {
  color: #f8e7df;
  font-size: 18px;
}
.min {
  opacity: 0.7;
  vertical-align: sub;
}
